@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');*{margin:0;padding:0;box-sizing:border-box;text-decoration:none}html{scroll-behavior:smooth}::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:#f1f1f1}::-webkit-scrollbar-thumb{background:#888}::-webkit-scrollbar-thumb:hover{background:#555}section{padding:100px 0}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}
html{
    scroll-behavior: smooth;
}
.max-width{
    margin: auto;
    max-width: 1400px;
    padding: 0 40px;
}

.navbar{
    position: fixed;
    width:100%;
    padding: 30px 0 ;
    transition: all 0.3s ease;
    font-family: 'Ubuntu',sans-serif;

}
.navbar .logo a .second{
    color:rgb(173, 209, 13);
}
.navbar.sticky{
    padding: 15px 0 ;
    background: rgb(89, 223, 205);
    z-index: 999;
}
.navbar .logo a{
    font-size: 40px;
    font-weight: 400;
    color: aliceblue;
}
.navbar.sticky .logo a span{
    color:rgb(12, 3, 3);
    transition: all 0.3s ease;
}


.navbar .logo a span{
    color:rgb(255, 255, 255);

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .menu li {
    display: inline-block;
    list-style-type: none;
}
.navbar .menu li a{
    display: block;
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s ease;
}
.navbar.sticky .menu li a:hover{
    color:#F2AA4CFF;
}
.navbar .menu li a:hover{
    color:#F2AA4CFF;
}
.home{
  display: flex;
  
  min-height: 100px;
  color: white;
  height: 100vh;
  font-family: 'Ubuntu',sans-serif;
}

.home .home-content{
    position: absolute;
}
.home .home-content .text1{
  font-size: 29px;
}
.home .home-content .text2{
  font-size: 60px;
  font-weight: 200;
  

}
.home .home-content .text3{
  font-size: 23px;
  margin:5px 0;
}
.home .home-content .text3 span{
  color:#F2AA4CFF;
}
.menu-btn{
    color: #f1f1f1;
    font-size: 223px;
    display: none;
}
/*responsive  */
@media (max-width:991px){
    .max-width{
        padding: 0 50px;
    }
        .menu-btn{
    display: block;
    z-index: 999;
}
.menu-btn i.active:before{
    content:"\f00d";

}
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        transition: all 0.3s ease;
        background: black;
        text-align: center;
        padding-top: 80px;

    }
    .navbar .menu.active{
        left:0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{

        display: inline-block;
        margin-top: 25px 0;
        font-size: 25px;
        padding: 30px;

    }
}


section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 880px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #F2AA4CFF;
    padding: 0 5px;
    background: #fff;
    margin-top: 50px;
    transform: translateX(-50%);
}


 .about-content .left{
    width: 65%;

}
.about .about-content img{
    width:600px;
    height: 600px;
    object-fit: fill;
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    object-fit: fill;
    justify-content: space-between;
}
.about .about-content .right{
    width: 30%;
}
.about .about-content .right .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.about .about-content .right .text span{
    color:#F2AA4CFF;
}
.about .about-content .right p{
    font-size: 14px;
    text-align: center;
}
.about .about-content .right  a{
  display: inline-block;
  color: #f1f1f1;
  background: #F2AA4CFF;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 14px;
  margin-top: 20px;
  transition: all 0.3s ease;
  border: 2px solid rgb(189, 79, 161);
  font-size: 20px;
}
.about .about-content .right  a:hover{
    color:#F2AA4CFF;
    background: none;
}

.project .title{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
    color:rgb(9, 10, 10);

}
.project .project-content {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    object-fit: fill;
    justify-content:space-around;
    
}
.project{
    background-color: #F2AA4CFF;

}
.project .project-content .card{
    width: 25%;
    font-size: 20px;
    
    
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;  
}
.project :hover{
    background: #F2AA4CFF;
}
.project .project-content .card i{
    font-size: 50px;
    color:rgb(114, 86, 51);
}

.project .project-content .card .text{
    
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.project .project-content .card .box{
    transition:all 0.3s ease ;
}
.project .project-content .card:hover .box{
    transform: scale(1.10);
}
.project .project-content .card:hover{
    background: rgb(236, 234, 132);
}
.project .project-content .card:hover i{
    background: #343148FF;
    transition: all 0.3s ease ;

}
.project .project-content .card .box .p {
    font-weight: 200;
    font-size: 12px;
    padding: 30px 0 30px 0;
}

/*        skills                   */




.skills .skills-content .sub{
    font-size: 23px;
    align-items: center;
}
.skills .skills-content .row{
    display: flex;
    cursor: pointer;
    margin-left: 30px;
    padding-top: 40px;
    
}

 



/*   profile*/





.profile{
    color: #f1f1f1;
    background: #222;
}
.profile .carousel .card img{
    height: 150px;
    width:150px;
    object-fit:fill;
    border-radius: 90%;
    border:2px ;
}
.profile .carousel .card{
    background:#343148FF;   
    color:#343148FF;
    border-radius: 26px;
    padding:25px 25px;
    text-align: center;
    transition: all 0.3s ease;

}
.profile .carousel .card:hover .box{
    background: rgb(89, 223, 205);
    border-radius: 26px;
    padding:25px 25px;
    text-align: center;
    transform: scale(1.15);
}
.profile .carousel .card:hover{
    transition: all 0.3s ease;
    color: #222;
}
.profile .carousel .card {
    color: #f1f1f1;
}

.profile .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.profile .carousel .card .text:hover{
    color: blue;
}
.profile .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 10px 0;
    
}
.owl-dots{text-align:center;margin-top:20px}
          .owl-dot{height:13px;width:13px;margin:0 5px;outline:none!important;border-radius:50%;border:2px solid #f1f1f1!important;transition:all .3s ease}
          .owl-dot.active{width:35px;border-radius:14px}
          .owl-dot.active,.owl-dot:hover{background: rgb(89, 223, 205)!important
}

.contact,.contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .title:after{
    content: "Find me";
}
.contact .contact-content .column{
    width: calc(30% - 30px);

}
.contact .contact-content .column
{
    width:calc(50% - 30px)
}

footer{
        background:#111;
        padding:15px 23px;
        color:#fff;
        text-align:center
}
footer p span{
        color:crimson;
        text-decoration:none;
        cursor:pointer;

}
footer p span:hover{
        text-decoration:solid;
        font-size: 20px;
}

.about .title:after{
    
    content: "who i am";
}
.about .title:after{
    
    content: "who i am";
}
.profile .title::after{
    content: "Connect with me";
    background: #222;
}
.project .title::after{
    background: #222;
    

    content:"That i made";
}
.skills .title::after{
    content:"that i know"
}
#mybtn{
    bottom: 30px;
    right: 30px;
    color:white;
    background:rgb(95, 21, 85);
    cursor: pointer;
    padding: 15px;
    outline: none;
    z-index: 999;
    border-radius: 6px;
    position: fixed;
    font-size: 16px;
    transition: all 0.3s ease;
    
}
#mybtn:hover{
    background: rgb(160, 38, 143);
    transform: scale(1.09);
}
